[submodule "temporal-ensembling"]
	path = temporal-ensembling
	url = https://github.com/ferretj/temporal-ensembling
[submodule "awesome-self-supervised-learning"]
	path = awesome-self-supervised-learning
	url = https://github.com/jason718/awesome-self-supervised-learning
[submodule "SSL4MIS"]
	path = SSL4MIS
	url = https://github.com/HiLab-git/SSL4MIS
[submodule "FixMatch-pytorch"]
	path = FixMatch-pytorch
	url = https://github.com/kekmodel/FixMatch-pytorch
[submodule "sess"]
	path = sess
	url = https://github.com/Na-Z/sess
[submodule "unbiased-teacher"]
	path = unbiased-teacher
	url = https://github.com/facebookresearch/unbiased-teacher
