[submodule "temporal-ensembling"]
	path = temporal-ensembling
	url = https://github.com/ferretj/temporal-ensembling
[submodule "awesome-self-supervised-learning"]
	path = awesome-self-supervised-learning
	url = https://github.com/jason718/awesome-self-supervised-learning
[submodule "SSL4MIS"]
	path = SSL4MIS
	url = https://github.com/HiLab-git/SSL4MIS
[submodule "FixMatch-pytorch"]
	path = FixMatch-pytorch
	url = https://github.com/kekmodel/FixMatch-pytorch
[submodule "sess"]
	path = sess
	url = https://github.com/Na-Z/sess
[submodule "unbiased-teacher"]
	path = unbiased-teacher
	url = https://github.com/facebookresearch/unbiased-teacher
[submodule "awesome-semi-supervised-learning"]
	path = awesome-semi-supervised-learning
	url = https://github.com/yassouali/awesome-semi-supervised-learning
[submodule "CCT"]
	path = CCT
	url = https://github.com/yassouali/CCT
[submodule "ssl_detection"]
	path = ssl_detection
	url = https://github.com/google-research/ssl_detection
[submodule "mean-teacher"]
	path = mean-teacher
	url = https://github.com/CuriousAI/mean-teacher
